<h1><%= @flat.name %></h1>
<img src="<%= @flat.image %>" alt="" height="300px">
<h2>Price: <%= @flat.price_per_night %></h2>
<h2>Number of guests: <%= @flat.number_of_guests %></h2>
<p><%= @flat.description %></p>
<h5>Address: <%= @flat.address %></h5>

